import React from 'react';
import { Link } from 'react-router';
import { FormattedMessage, injectIntl } from 'react-intl';
import { Breadcrumb, Icon, Button, Form, Spin } from 'antd';

import * as <%= helpers.pascalCase(name) %>Path from './../paths/<%= helpers.pascalCase(name) %>Path';
import { EditComponent } from './../../../components/EditComponent';

const FormItem = Form.Item;

class <%= helpers.pascalCase(name) %>Edit extends EditComponent {
  render() {
    const object = this.props.data;
    const titleItem = this.props.id ? <FormattedMessage id="editPageEditTitle" /> : <FormattedMessage id="editPageCreateTitle" />;
    const baseFields = this.getBaseFields(object);
    return (
      <div>
        <Breadcrumb>
          <Breadcrumb.Item>
            <Link to="/"><Icon type="home" /></Link>
          </Breadcrumb.Item>
          <Breadcrumb.Item><FormattedMessage id="<%= helpers.lowerCase(parent) %>Title" /></Breadcrumb.Item>
          <Breadcrumb.Item><Link to={<%= helpers.pascalCase(name) %>Path.<%= helpers.constantCase(name) %>_LIST}><FormattedMessage id="<%= helpers.camelCase(name) %>Title" /></Link></Breadcrumb.Item>
          <Breadcrumb.Item>{titleItem}</Breadcrumb.Item>
        </Breadcrumb>
        <h1>{titleItem}</h1>
        <Spin spinning={this.props.isLoading}>
          <Form vertical onSubmit={this.handleSubmit}>
            {baseFields}
            <FormItem label={this.props.intl.messages.<%= helpers.camelCase(name) %>FieldName}>
              {this.getInputField('name', object.name)}
            </FormItem>
            <FormItem>
              <Button type="primary" htmlType="submit"><FormattedMessage id="buttonSave" /></Button>
              <Button className="pull-right" onClick={() => this.forwardTo(<%= helpers.pascalCase(name) %>Path.<%= helpers.constantCase(name) %>_LIST)}>
                <FormattedMessage id="buttonCancel" />
              </Button>
            </FormItem>
          </Form>
        </Spin>
      </div>
    );
  }
}

export default Form.create()(injectIntl(<%= helpers.pascalCase(name) %>Edit));
